---

---

<thead>
    <tr>
        <th class="col-label">Ciudad</th>
        <th><span class="badge malo">Malo</span></th>
        <th><span class="badge regular">Regular</span></th>
        <th><span class="badge bueno">Bueno</span></th>
        <th><span class="badge excelente">Excelente</span></th>
    </tr>
</thead>
