---
---
<thead>
    <tr>
        <th class="col-label" data-i18n="calificacion">Calificacion</th>
        <th><span class="badge malo"   data-i18n="malo">Malo</span></th>
        <th><span class="badge regular" data-i18n="regular">Regular</span></th>
        <th><span class="badge bueno"  data-i18n="bueno">Bueno</span></th>
        <th><span class="badge excelente" data-i18n="excelente">Excelente</span></th>
    </tr>
</thead>