---
---

<header class="header_menu">
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/evaluacion">Evaluación del Viaje</a></li>
        </ul>
    </nav>
</header>

<style>

.header_menu {
    background-color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(45, 45, 45);
}
a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

</style>